	<div id="footer" class="fixed_width pos_center">
		<ul class="footmenu">
			<li>
				<a href="/">首页</a>
				<ul>
					<li><a href="/download/" class="button icon download">下载网站</a></li>
				</ul>
			</li>
			<li>
				<a href="/about/">关于我们</a>
				<ul>
					<li><a href="/about/workplace/">工作环境</a></li>
				</ul>
			</li>
			<li>
				<a href="/website/">网站建设</a>
				<ul>
					<li><a href="/website/domain/">域名注册</a></li>
					<li><a href="/website/server/">空间对比</a></li>
				</ul>
			</li>
			<li>
				<a href="/cases/">成功案例</a>
			</li>
			<li>
				<a href="/posts/">资讯中心</a>
				<ul>
					<li><a href="/posts/tech/">技术文章</a></li>
					<li><a href="/posts/company/">公司新闻</a></li>
				</ul>
			</li>
			<li>
				<a href="/contact/">联系我们</a>
				<ul>
					<li><a href="/contact/hiring/">人才招聘</a></li>
				</ul>
			</li>
			<li>
				<a href="http://www.gdky.net/">开源网络</a>
				<ul>
					<li><a href="http://www.8html.com/">8HTML.com</a></li>
					<li><a href="http://www.8html.net/">8HTML.net</a></li>
					<li><a href="http://www.8html.org/">8HTML.org</a></li>
				</ul>
			</li>
		</ul>
		<div class="clear"></div>
		<div class="copy">
			版权所有 &copy; 2012 广东顺德开源网际网络科技有限公司
			<div class="hidden">
				<a href="http://www.8html.com/">顺德网站建设</a>|<a href="http://www.8html.com/">佛山网站建设</a>|<a href="http://www.8html.com/">顺德网页设计</a>|<a href="http://www.8html.com/">佛山网页设计</a>|<a href="http://www.8html.com/">顺德网站制作</a>|<a href="http://www.8html.com/">佛山网站制作</a>|<a href="http://www.8html.com/Sitemap.xml">Sitemap</a>
			</div>
		</div>
	</div>
